<footer class="bg-green-800 text-white py-6 mt-auto">
    <div class="container mx-auto text-center">
        <p class="text-sm">&copy; 2024 InvestAssistant. All rights reserved.</p>
        <div class="flex justify-center space-x-6 mt-4">
            <a href="https://github.com/kaweeo/InvestAssistant" target="_blank" class="text-green-300 hover:text-white">
                GitHub
            </a>
            <a href="#" class="text-green-300 hover:text-white">Twitter</a>
            <a href="#" class="text-green-300 hover:text-white">LinkedIn</a>
        </div>
    </div>
</footer>
